@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "./variables.css";
@import "./utilities/background.css";
@import "./utilities/typography.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
