:root {
  --primary-color: #f90;

  --gray-50: #f9fafb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-700: #374151;
  --gray-800: #1f2937;

  --green-600: #00927f;

  --text-color: var(--gray-800);

  --error-color: #d33367;

  --background-color: #f9fafb;

  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-22: 1.375rem;
  --font-32: 2rem;

  --border-radius-8: 8px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
}
